<% # setup params for various action links
  add_url = refinery.new_products_admin_category_path(parent_id: category.id)
  edit_url = refinery.products_admin_edit_category_path(category.nested_url, :switch_locale => (category.translations.first.locale unless category.translated_to_default_locale?))
  delete_url = refinery.products_admin_delete_category_path(category.nested_url)
  delete_options = {
    class: "cancel confirm-delete",
    data: {
      confirm: t('message',  
        scope: 'refinery.admin.delete', 
        title: category_title_with_translations(category)
      )
    }
  }
%>

<li class='clearfix record  <%= cycle("on", "on-hover") %>' id="<%= dom_id(category) -%>">
  <div class='clearfix'>
    <% if category.children.present? %>
      <span class="icon toggle expanded" title="<%= t('.expand_collapse') %>"></span>
    <% else %>
      <span class="icon"></span>
    <% end %>

    <span class='title'>
      <%= category_title_with_translations category %>

      <% if Refinery::I18n.frontend_locales.many? %>
        <span class='locales'>
          <% category.translations.sort_by{ |t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
            <% if translation.title.present? %>
              <%= link_to refinery.edit_products_admin_category_path(category.nested_url, switch_locale: translation.locale), class: 'locale', title: translation.locale.upcase do %>

                <div class="<%=translation.locale %> locale_marker">
                  <%= locale_text_icon(translation.locale.upcase) %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </span>
      <% end %>
    </span>

    <span class='actions'>
      <%= action_icon(:add,     add_url,    t('new',    scope: 'refinery.admin.pages' ) ) %>
      <%= action_icon(:edit,    edit_url ,  t('edit',   scope: 'refinery.admin.pages' ) ) %>
      <%= action_icon(:delete,  delete_url, t('delete', scope: 'refinery.admin.pages' ), delete_options ) %>
    </span>
  </div>
  <ul class='nested' data-ajax-content="<%= refinery.products_admin_children_categories_path(category.nested_url) %>">
    <%= render(:partial => 'category', :collection => category.children) %>
  </ul>
</li>
