<%= form_for [refinery, :products_admin, @category] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @category,
              :include_object_name => true %>

  <%= render '/refinery/admin/locale_picker',
              :current_locale => Globalize.locale %>


  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <span class='label_with_help'>
      <%= f.label :parent_id, t('.parent_category') %>
      <%= refinery_help_tag t('.parent_category_help') %>
    </span>
    <%= f.select :parent_id, parent_id_nested_set_options(@category), :include_blank => true %>
  </div>

  <div class='field'>
    <%= f.label :promote -%>
    <%= f.check_box :promote, :class => 'larger widest' -%>
  </div>


  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.categories.admin.categories.category'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @category.title) -%>
<% end -%>
