<% content_for :body_content_title do %>
  <%= @category.title %>
<% end %>

<% content_for :body do %>
  <section>
    <ul id="products">
      <% @products.each do |product| %>
        <li>
          <h2><%= link_to product.title, refinery.products_product_path(product) %></h2>
          <%= link_to refinery.products_product_path(product) do %>
            <%= t('.read_more') %>
            <span class="visuallyhidden"><%= product.title %></span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to t('.back_to'), refinery.products_categories_path %>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="categories">
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.title, refinery.products_category_path(category) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
