<%= form_for [refinery, :products_admin, setup_product(@product)] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @product,
              :include_object_name => true %>

  <%= render '/refinery/admin/locale_picker',
              :current_locale => Globalize.locale %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <li class='ui-state-default ui-state-active'>
          <%= link_to t('content', :scope => 'activerecord.attributes.refinery/products/product'), "#page_part_body" %>
        </li>
        <% Refinery::Products.tabs.each_with_index do |tab, tab_index| %>
          <li class='ui-state-default' id="custom_<%= tab.name %>_tab">
            <%= link_to tab.name.titleize, "#custom_tab_#{tab_index}" %>
          </li>
        <% end %>
      </ul>

      <div id='page_part_editors'>
        <% part_index = -1 %>
          <%= render 'form_part', :f => f, :part_index => (part_index += 1) -%>
        <% Refinery::Products.tabs.each_with_index do |tab, tab_index| %>
          <div class='page_part' id='<%= "custom_tab_#{tab_index}" %>'>
            <%= render tab.partial, :f => f %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render '/refinery/admin/form_advanced_options_menu', :f => f %>

  <div id='more_options' style="display:none;">
    <div class="hemisquare">

      <h3><%= t('title', :scope => 'refinery.products.admin.submenu.properties') %></h3>
      <ul class='products_properties'>
        <%= f.fields_for :propertizations do |ff| %>
          <li>
            <%= ff.check_box :_destroy,
                  {:checked => ff.object.persisted?},
                  '0', '1'
            %>
            <%= ff.label :_destroy, ff.object.products_property.title, :class => 'stripped' %>
            <%= ff.hidden_field :id %>
            <%= ff.hidden_field :products_property_id %>
            <%= ff.hidden_field :product_id %>
            <%= ff.text_area :value, :class => 'widest' %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class='hemisquare right_side'>
      <h3><%= t('title', :scope => 'refinery.products.admin.submenu.categories') %></h3>
      <ul class='products_categories'>
        <% @categories.each do |category| %>
          <li>
             <%= check_box_tag 'product[category_ids][]', category.id,
                               @product.categories.include?(category),
                               :id => (id="product_category_ids_#{category.id}") %>
             <%= label_tag 'product[category_ids][]', category.title,
                           :class => 'stripped',
                           :for => id %>
          </li>
        <% end %>
      </ul>
      <h3><%= t('.published_at') %></h3>
      <%= f.datetime_select :published_at %>
    </div>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.products.admin.products.product'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @product.title) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
