<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(product) -%>">
  <span class='title'>
    <%= product.title.presence || product.translations.detect {|t| t.title.present?}.title %>
    <span class="preview">
      <% product.translations.reject {|t| t.title.blank? }.each do |translation| %>
        <%= link_to refinery.edit_products_admin_product_path(product, :switch_locale => translation.locale),
                    :class => 'locale' do %>
          <div class="locale_icon <%= translation.locale %>">
            <%= refinery_icon_tag('locale-blue.svg', :size => '24x24') %>
            <span class="code"><%= translation.locale.upcase %></span>
          </div>
        <% end %>
      <% end %>

      <%= product.sku %>

      <% if product.draft? %>
        <span class="label notice"><%= t('draft', :scope => 'refinery.products.admin') %></span>
      <% else %>
        <%= product.published_at.strftime('%b %d, %Y') %>
      <% end %>
    </span>
  </span>

  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), refinery.products_product_path(product),
        :title => t('.view_live_html'),
        :target => "_blank" %>

    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_products_admin_product_path(product),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.products_admin_product_path(product),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :data => {:confirm => t('message', :scope => 'refinery.admin.delete', :title => product.title)},
        :method => :delete %>
  </span>
</li>
