<% content_for :body do %>
  <ul id="products">
    <% @products.each do |product| %>
      <li>
        <%= link_to refinery.products_product_path(product) do %>
          <%= image_tag(product.images.first.thumbnail(geometry: "200x200#c").url) unless product.images.first.nil? %>
          <h2><%= product.title %></h2>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% content_for :side_body do %>
  <ul id="categories">
    <% @products_categories.each do |category| %>
      <li>
        <%= link_to category.title, refinery.products_category_path(category) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
