<% content_for :body_content_title do %>
  <%= @product.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @product.title %>
    </p>
  </section>
  <section>
    <h1>Body</h1>
    <p>
      <%=raw @product.body %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="products">
      <% @products.each do |product| %>
        <li>
          <%= link_to product.title, refinery.products_product_path(product) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
