<% content_for :body_content_title do %>
  <%= @product.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h2>Images</h2>
    <ul id='gallery'>
      <% @product.images.each do |image| %>
        <li>
          <%= link_to image_tag(image.thumbnail(geometry: "200x200#c").url),
                      image.thumbnail(geometry: "900x600").url %>
        </li>
      <% end %>
    </ul>

    <h2>Body</h2>
    <p>
      <%=raw @product.body %>
    </p>

    <%= link_to t('.back_to'), :back %>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="products">
      <% @products_categories.each do |product| %>
        <li>
          <%= link_to product.title, refinery.products_category_path(product) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
