<% content_for :body_content_title do %>
  <%= @product.title %>
<% end %>

<% content_for :body do %>
  <section>
    <% if !@product_images.empty? %>
      <h2>Images</h2>
      <ul id='gallery'>
        <% @product_images.each do |image| %>
          <li>
            <%= link_to image_tag(image.thumbnail(geometry: "200x200#c").url),
                        image.thumbnail(geometry: "900x600").url %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%=raw @product.body %>

    <%= link_to t('.back_to'), :back %>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h3>
      <%= link_to refinery.products_category_path(@root_category) do %>
        <%= @root_category.title %>
      <% end %>
    </h3>
    <ul id="products">
      <% @root_category_products.each do |product| %>
        <li>
          <%= link_to product.title, refinery.products_product_path(product) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>